# PyCharm
.idea/
*.iml

# Python
__pycache__/
*.py[cod]
*.pyo
venv/
.venv/
*.egg-info/

# Environment
.env

# Flask / Migrations cache
instance/

# Node
node_modules/
frontend/dist/

# OS
.DS_Store
Thumbs.db
examples